h1, h2, h3, h4, h5, h6 {
  margin: 0,
}
p {
  margin: 0,
}

.post__container {
  @apply pb-4;
}


.post__title {
  @apply mb-7 mt-3 mx-auto;
  @apply font-bold text-2xl;
  font-family: "Merriweather", serif;
  color: var(--text-primary);
}

.post__date {
  @apply font-normal text-base;
  font-family: "Merriweather", serif;
  color: var(--text-secondary);
}

.post__body {
  @apply mb-4;
  @apply font-normal text-lg;
  font-family: "Merriweather", serif;
  color: var(--text-primary);
  line-height: 36.76px;
}

.post__link {
  @apply font-normal text-lg;
  font-family: "Merriweather", serif;
  color: var(--accent);
}

.post__link:hover {
  @apply underline;
  color: var(--accent);
}

.post__divider {
  @apply my-4;
}