.heading {
  @apply mb-4;
}


.note__container {
  @apply pb-4;
}


.note__title {
  @apply mb-7 mt-3 mx-auto;
  @apply font-bold text-2xl;
  font-family: "Merriweather", serif;
  color: var(--text-primary);
}

.note__date {
  @apply font-normal text-base;
  font-family: "Merriweather", serif;
  color: var(--text-secondary);
}

.note__body {
  @apply mb-4;
  @apply font-normal text-lg;
  font-family: "Merriweather", serif;
  color: var(--text-primary);
  line-height: 36.76px;
}

.note__link {
  @apply font-normal text-lg;
  font-family: "Merriweather", serif;
  color: var(--accent);
}

.note__link:hover {
  @apply underline;
  color: var(--accent);
}

.note__divider {
  @apply my-4;
}